body {
	background: #08b6ef;
}

.container {
	width: auto;
}

.infoRow {
	background: grey;
}

#shopPoints {
	font-size: 20px;
	margin-bottom: 15px;
}

.craftingButtonRow {
	margin-left: 33%;
}

.levelChoice {
	background: brown;
	font-size: 36px;
	margin: 5px;
	text-align: center;
}

.packOption {
	text-align: center;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin-bottom: 15px;
}

.packOption:hover {
	border-color: white;
}

#newCardDisplay {
	height: 500px;
	background: darkblue;
}

#tutorialMessageBox {
	display: none;
	position: absolute;
	left: 25%;
	top: 15%;
	z-index: 4;
	height: 400px;
	width: 600px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	background: white;
}

#tutorialMessageCol {
	height: 400px;
}

#tutorialButtonRow {
	position: absolute;
	bottom: 10px;
	width: 600px;
}

#tutorialMessageButton {
	margin-left: 33%;
	font-size: 35px;
	text-align: center;
}

.testGif {
	height: 300px;
}

.supportCard {
	text-align: center;
	background: grey;
	height: 200px;
	border-style: solid;
	border-color: gold;
	border-width: 3px;
	border-radius: 5px;
}

.supportName {
	font-size: 35px;
	font-weight: bold;
}

.supportText {
	font-size: 25px;
}

#craftingArea {
	border-width: 3px;
	border-color: black;
	border-style: solid;
	height: 506px;
	width: 401px;
}

.craftCard {
	height: 500px;
	width: 395px;
}

.craftingCardName {
	font-size: 40px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
}

.elementTarget {
	border-radius: 30px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 0px;
}

#mainCraftingTitle {
	margin-left: 9%;
}

.elementOrb {
}

.eleOrbImg {
	height: 50px;
	width: 63px;
	border-radius: 30px;
}

#frameList {
    overflow: scroll;
    height: 475px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding-left: 9%;
}

.abilityBox {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	text-align: center;
	font-size: 24px;
	float: left;
}

#abilityTarget {
	height: 250px;
	font-size: 30px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
	padding-top: 30px;
}

.miner {
	position: absolute;
}

#miningGif {
	height: 90px;
}

#groundLayer {
	height: 124px;
}

#dirtLayer {
	margin-left: -128px;
	margin-right: -128px;
}

.dirtBlock {
	height: 100px;
	background: #693b1a;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.supportCol {
	background: #ffffff2b;
	height: 210px;
	border-color: grey;
	border-width: .2px;
	border-style: solid;
	border-radius: 35px;
}

.true {
	background: white;
}

#root {
	background: #08b6ef;
	padding: 0px;
}

#gameScreenBackground {
	background-image: url('assets/backgroundTree.png'), url('assets/grassBackground.png');
	background-repeat: no-repeat;
}

#topRow {
	margin-bottom: 20px;
	margin-top: 15px;
}

#tabIndex:focus {
	outline: none;
}

#stormlightOrb {
	width: 50px;
	background: white;
	text-align: center;
	border-radius: 50%; 
	font-size: 25px;
	padding: 5px;
	font-family: 'Metamorphous', cursive;
}

#influenceOrb {
	width: 50px;
	background: yellow;
	text-align: center;
	border-radius: 50%; 
	font-size: 25px;
	padding: 5px;
	font-family: 'Metamorphous', cursive;
	background: radial-gradient(270deg, #ffeb00, black);
	background-size: 300% 300%;
	-webkit-animation: CardCostAnimation 8s ease infinite;
	-moz-animation: CardCostAnimation 8s ease infinite;
	animation: CardCostAnimation 8s ease infinite;
}

#scoreDisplay {
	font-size: 28px;
	font-family: 'Metamorphous', cursive;
}

#playArea {
	height: 195px;
}

.stormlightOn {
	box-shadow: 0px 0px 10px 15px red;
}

.spren {
	background: grey;
	border-radius: 5px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Metamorphous', cursive;
}

.sprenPower {
	color: white;
	background: navy;
	margin: 5px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 75px 75px 15px 15px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px black;
}

.createTitle {
	text-align: center;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
}

.createScale {
	text-align: center;
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bolder;
	font-family: 'Metamorphous', cursive;
}

.createMinus {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.createPlus {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

#createName {
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
	margin-top: 25px;
}

input {
	text-align: center;
}

.heartIcon {
	height: 30px;
	animation: heartPulse ease .8s infinite;
	width: auto;
}

#heartStatIcon {
	margin-left: 4%;
}

.campButton {
	font-size: 30px;
	font-family: 'Metamorphous', cursive;
	width: 75%;
	margin-left: 12.5%;
	padding-top: 25px;
	padding-bottom: 25px;
	background: #b35b23;
	border-color: black;
	border-width: 6px;
	border-style: solid;
	border-radius: 15px;
}

.campButton:hover {
	background: grey;
}

@-webkit-keyframes heartPulse {
    0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}
@-moz-keyframes heartPulse {
     0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}
@keyframes heartPulse {
    0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}

.deckTitle {
	font-size: 35px;
	text-align: center;
	font-family: 'Metamorphous', cursive;
}

.statIcon {
}

.mainStat {
	padding-top: 10px;
    font-size: 28px;
}

.statNum {
	border-color: grey;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
}

.chooseTitle {
	font-size: 35px;
	text-align: center;
	font-family: 'Metamorphous', cursive;
}

.hpSpan {
	font-size: 24px;
	margin-top: 5px;
}

.intSpan {
	font-size: 24px;
	text-align: center;
}

#deckRow {
	border-color: black;
	border-width: 3px;
	border-style: inset;
}

#cardBox {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	left: 25%;
	position: fixed;
	z-index: 3;
	background: white;
	padding: 5px;
	border-radius: 10px;
}

.enemy {
	color: white;
	background: black;
	border-style: inset;
	border-color: #7b7b7b;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 215px;
	width: 178px;
	margin: 5px;
	text-align: center;
	-webkit-transition: transform .15s ease-in, border-color .3s ease-in;
}

.enemy:hover {
	transform: scale(1.3);
	z-index: 2;
}

.enemyHoverCard {
	position: absolute;
	z-index: 2;
}

.fadeOut {
	opacity:0;
	transition: opacity 0.5s;
}


.hero {
	border-style: inset;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 215px;
	width: 178px;
	margin: 5px;
	text-align: center;
	-webkit-transition: transform .1s ease-in, border-color .2s ease-in;
}

.hero:hover {
	transform:  scale(1.3);
	z-index: 2;
}

.hero2 {
	border-style: inset;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	text-align: center;
}

.expandedCard {
	margin-top: 8px;
}

.neutral {
	background: radial-gradient(#03ce54, #000000);
	border-color: #1d9a07;
}

.fire {
	background: radial-gradient(#ff0000, #000000);
	border-color: red;
}

.earth {
	background: radial-gradient(#ab764a, #000000);
	border-color: tan;
}

.water {
	background: radial-gradient(#865fff, #000000);
	border-color: darkblue;
}

.wind {
	background: radial-gradient(#5fffff, #000000);
	border-color: lightblue;
}

.lava {
	background: radial-gradient(#ff6a00, #ff6a00);
	border-color: orange;
}

.storm {
	background: radial-gradient(#02115d, #000000);
	border-color: grey;
}

.desert {
	background: radial-gradient(#ffe000, #000000);
	border-color: yellow;
}

.mud {
	background: radial-gradient(#8e462b, #000000);
	border-color: #501c09;
}

.awe {
	background: radial-gradient(white, #000000);
	border-color: white;
}

.spooky {
	background: radial-gradient(black, white);
	border-color: black;
}

.sphere {
	background: radial-gradient(grey, #000000);
	border-style: inset;
	border-color: white;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 215px;
	width: 185px;
	margin: 3px;
	text-align: center;
	-webkit-transition: transform .1s ease-in, border-color .2s ease-in;
}

.sphere:hover {
	transform:  scale(1.3);
	z-index: 2;
}

.sphereIcon {
	height: 60px;
	border-radius: 30px;
	margin-top: 35px;
}

.diamond {
	background: white;
	box-shadow: 0px 0px 20px white;
}

.garnet {
	background: darkred;
	box-shadow: 0px 0px 20px darkred;
}

.ruby {
	background: red;
	box-shadow: 0px 0px 20px red;
}

.emerald {
	background: green;
	box-shadow: 0px 0px 20px green;
}

.influenceCost {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: gold;
	color: black;
	font-family: 'Metamorphous', cursive;
}

.stormlightCost {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: silver;
	color: black;
	font-family: 'Metamorphous', cursive;
}

.iconImg {
	height: 35px;
	border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 12px 0px white;
}

.bottomRow {
	position: absolute;
	bottom: 2px;
	width: 100%;
}

.hoverBottomRow {
	margin-top: 10px;
}

@-webkit-keyframes CardCostAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CardCostAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CardCostAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.cardPower {
	color: white;
	background: red;
	margin-top: 5px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 75px 75px 15px 15px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px black;
	animation-name: color;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}

.deckCardPower {
	color: white;
	background: red;
	margin-top: 0px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 75px 75px 15px 15px;
	text-align: center;
	font-size: 25px;
	box-shadow: 2px 2px 3px black;
}

.deckCardName {
	font-size: 15px;
}

@keyframes color {
  0% {
    background-color: #8c0000;
  }
  50% {
    background-color: #461f1f;
  }
  100% {
    background-color: #8c0000;
  }

}

.cardName {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.cardText {
	font-size: 16px;
	background: #ffffff59;
	margin: 0px 2px 0px 2px;
	box-shadow: 0px 0px 15px 4px #9df6ff;
	color: black;
	padding: 2px;
}

.characterBox {
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.characterImage {
	padding-left: 0px;
	border-radius: 5px 0px 0px 5px;
}

.characterImage2 {
	height: 130px;
	width: 130px;
}

.characterItem {
	font-size: 24px;
	text-align: center;
}

.sabRow {
	height: 30px;
}

.orb {
	background: #c61dfd;
	height: 30px;
	width: 10px;
	float: left;
	transform: skew(-20deg);
	border-color: black;
	border-width: 1px;
	border-style: solid;
  	margin-right: 3px;
}

.enemyCharacterBox {
	font-family: 'Metamorphous', cursive;
	margin-top: 5px;
}

.heroSelect {
	font-family: 'Metamorphous', cursive;
	border-style: ridge;
	border-color: #a70e0e;
	border-width: 10px;
	border-radius: 15px;
	background: white;
	margin: 5px;
	font-size: 20px;
	box-shadow: 5px 0px 5px black;
	-webkit-transition: transform .15s ease-in, border-color .15s ease-in;
}

/*.heroSelect:hover {
	border-color: yellow;
	transform: scale(1.1);
}*/

.heroDamageIndicator {
	color: red;
	font-size: 24px;
}

.shieldSpan {
	color: black;
	font-size: 24px;
	text-align: center;
}

.highlightedHero {
	border-color: green;
}

.characterName {
	font-size: 22px;
	padding-left: 15px;
}

.enemyInfo {
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	padding-bottom: 3px;
	background: #ffffffcf;
}

.heroSideSlot {
	padding-left: 20px;
	height: 210px;
	font-family: 'Metamorphous', cursive;
	background: #ffffffad;
	border-radius: 15px;
}

.heroSelectName {
	margin-top: 5%;
}

#stageName {
	text-align: center;
	font-size: 28px;
	font-family: 'Metamorphous', cursive;
}

#statCol {
	margin-top: 10px;
}

.itemBox {
	font-family: 'Metamorphous', cursive;
	background: white;
	border-style: ridge;
	border-color: grey;
	border-width: 10px;
	font-size: 24px;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: transform .15s ease-in, border-color .15s ease-in;
}

.itemBox:hover {
	border-color: yellow;
}

.equippedItem {
	border-color: green;
}

.equipmentTitle {
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
}

.itemRow {
	margin-top: 10px;
}

.targetedEnemy {
	border-style: solid;
	border-color: red;
	border-width: 2px;
	border-radius: 25px;
	box-shadow: inset 0 0 10px red;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
}

.attackingEnemy {
	background: red;	
}

#rewardsMessage {
	text-align: center;
	font-size: 36px;
}

#rewardsDescription {
	font-size: 28px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.coolButton {
	border-radius: 5px;
	padding: 10px;
	background: orange;
	box-shadow: 2px 2px 5px grey;
	margin: 5px;
}

.coolButton:hover {
	box-shadow: 0px 0px 0px grey;
}

.coolButton:focus {
	outline: none;
}

.stunned {
	background: yellow;
}

.confused {
	background: purple;
}

@-webkit-keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}
@-moz-keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}
@keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}

.deadEnemy {
	border-color: black;
}