body {
	background: #232323;
}

.titleDesigns {
	background-image: url('assets/backgrounds/titleDesigns.png');
	height: 100vh;
}

.enemyStatus {
	position: absolute;
    z-index: 2;
    height: 175px;
    margin-left: 9%;
}

.endingText {
	color: white;
	font-family: 'Metamorphous', cursive;
	font-size: 36px;
	text-align: center;
	margin-top: 100px;
}

.highScore {
	background: orange;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	margin-top: 5%;
	border-radius: 15px;
	border-color: red;
	border-width: 5px;
	border-style: solid;
}

#trophyImg {
	height: 50px;
}

#patchNotes {
	margin-top: 150px;
}

#highScoreTitle {
	font-size: 36px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
}

.scoreTitle {
	background: orange;
	font-size: 28px;
	font-family: 'Metamorphous', cursive;
	font-weight: bolder;
}

.spookyMeter {
	width: 100%;
}

.monsterPic {
	height: 115px;
}

.expandMonsterImage {
	height: 65px;
}

#craftTreeDisplay {
	background: #000000b8;
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100vw;
}

#youberRow {
	text-align: center;
}

#endingYouber0{
	height: 125px;
}

#endingYouber1{
	height: 90px;
}

#endingYouber2{
	height: 100px;
}

#endingYouber3{
	height: 110px;
}

#errorMessage {
	position: fixed;
	z-index: 9;
	margin-top: 20%;
	margin-left: 35%;
	font-size: 42px;
	font-family: 'Metamorphous', cursive;
	padding: 5px;
}

.cardImg {
	height: 35px;
	width: 35px;
}

.cardSymNum {
	margin-top: 10px;
	font-size: 24px;
}

.cardSym {
	height: 43px;
    width: 82px;
}

#keywordCol {
	margin-top: 15px;
	height: 335px;
	overflow: scroll;
	border-color: black;
	border-style: solid;
	border-width: 0px 3px;
}

.keyword {
	font-size: 20px;
	background: tan;
	margin-top: 2px;
	border-radius: 10px;
	border-color: brown;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	font-weight: bold;
}

.keyword:hover {
	background: white;
}

#infoArea {
	background: white;
	height: 400px;
	width: 60%;
	margin-left: 20%;
	margin-top: 4%;
	position: absolute;
	z-index: 6;
	border-radius: 15px;
}

#descriptionArea {
	font-size: 20px;
	margin-top: 15px;
}

.gameInfoTitle {
	font-size: 36px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
}

.infoButton {
	background: orange;
	border-radius: 25px;
	font-size: 20px;
	width: 40px;
	margin-top: 5px;
	text-align: center;
}

.infoButton:hover {
	background: white;
}

#saveIcon {
	height: 50px;
}

#saveBox {
	z-index: 2;
	position: fixed;
	background: #b35b23;
	right: 5px;
	border-color: #a70e0e;
	border-radius: 3px;
	border-style: solid;
}

.saveButton {
	margin-top: 15px;
	background: black;
	color: white;
	font-size: 24px;
}

.saveButton:hover {
	background: white;
	color: black;
}

#saveName {
	margin-top: 20px;
}

.allyImage {
	height: 70px;
}

.allyRow {
	position: relative;
    top: 115px;
}

.placeholderDiv {
	height: 244px;
}

.numberOwned {
	font-size: 16px;
	background: black;
	border-radius: 25px;
	text-align: center;
	margin-left: 10px;
	position: absolute;
}

.deckCardNum {
	font-size: 16px;
	background: black;
	border-radius: 25px;
	text-align: center;
	padding: 0px;
	position: absolute;
	right : 0%;
}

.container {
	width: auto;
}

.infoRow {
	background: grey;
}

#shopPoints {
	font-size: 20px;
	margin-bottom: 15px;
	color: white;
}

.goBackButton {
	margin-left: 25px;
	margin-bottom: 15px;
}

.scoreRow {
	background: white;
	border-style: solid;
	border-color: #a70e0e;
	border-width: 3px;
	border-radius: 15px;
}

#mainTitle {
	margin-top: 6%;
	height: 250px;
    width: 400px;
    margin-bottom: 25px;
}

.mainScore {
	font-family: 'Metamorphous', cursive;
	font-size: 18px;
	background: #9c9c9c;
	margin-top: 15px;
	border-radius: 15px;
	border-color: #ceb927;
	border-width: 2px;
	border-style: solid;
}

.schemeCounter {
	font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Metamorphous', cursive;
}

#levelSelectScreen {
	background-image: url('assets/backgrounds/levelScreen.png');
	background-repeat: no-repeat; 
	margin-left: 6%;
	height: 680px;
}

.levelChoice {
	background: #00000059;
	background-size: contain;
	height: 115px;
	width: 115px;
	border-radius: 15px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

.levelChoice:hover {
	border-color: white;
}

#tutorialLevel {
	height: auto;
	width: auto;
	box-shadow: none;
}

.levelSymbol {
	height: 115px;
}

.levelChoiceRow {
	margin-top: 5px;
}

#fireLevel {
	position: absolute;
	top: 100px;
	left: 150px;
	background-image: url('assets/icons/fire.png');
}

#fireLevel:hover {
	background-image: url('assets/icons/fireHover.png');
}

#waterLevel {
	position: absolute;
	top: 450px;
    left: 1000px;
    background-image: url('assets/icons/water.png');
}

#waterLevel:hover {
	background-image: url('assets/icons/waterHover.png');
}

#windLevel {
	position: absolute;
	top: 450px;
    left: 150px;
    background-image: url('assets/icons/wind.png');
}

#windLevel:hover {
	background-image: url('assets/icons/windHover.png');
}

#earthLevel {
	position: absolute;
	top: 100px;
	left: 950px;
	background-image: url('assets/icons/earth.png');
}

#earthLevel:hover {
	background-image: url('assets/icons/earthHover.png');
}

#lavaLevel {
	position: absolute;
	left: 575px;
	background-image: url('assets/icons/lava.png');
}

#lavaLevel:hover {
	background-image: url('assets/icons/lavaHover.png');
}

#stormLevel {
	position: absolute;
	top: 515px;
    left: 600px;
    background-image: url('assets/icons/storm.png');
}

#stormLevel:hover {
	background-image: url('assets/icons/stormHover.png');
}

#desertLevel {
	position: absolute;
	top: 300px;
    left: 400px;
    background-image: url('assets/icons/desert.png');
}

#desertLevel:hover {
	background-image: url('assets/icons/desertHover.png');
}

#mudLevel {
	position: absolute;
	top: 300px;
    left: 725px;
    background-image: url('assets/icons/mud.png');
}

#mudLevel:hover {
	background-image: url('assets/icons/mudHover.png');
}

#towerLevel {
	position: absolute;
	top: 400px;
}

#trophyButton {
	height: 50px;
	background-size: contain;
	background-image: url('assets/icons/trophy.png');
	background-repeat: no-repeat;
	background-position: center;
}

#trophyButton:hover {
	background-image: url('assets/icons/trophyHover.png');
}

#saveButton {
	height: 50px;
	background-size: contain;
	background-image: url('assets/icons/save.png');
	background-repeat: no-repeat;
	background-position: center;
}

#saveButton:hover {
	background-image: url('assets/icons/saveHover.png');
}

#levelChoiceTitle {
	text-align: center;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	background: #ffffff6e;
}

#defeatRow {
	height: 100vh;
	overflow: hidden;
}

#toogerShadow {
	background-image: url('assets/tower/toogerShadow.png');
	height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30%;
    -webkit-animation: animate 5s ease-in;
}

@-webkit-keyframes animate {
  from { 
    height: 500px;
    margin-left: 28%;
  }
  to {
    height: 1000px;
    margin-left: 10%;
  } 
}
@keyframes animate {
  from { 
    height: 500px;
    margin-left: 28%;
  }
  to {
    height: 1000px;
    margin-left: 10%;
  } 
}

#defeatTitle {
	color: white;
	font-size: 55px;
	font-family: 'Metamorphous', cursive;
	position: absolute;
	z-index: 2;
	top: 40%;
    left: 42%;
}

.selectedLevel {
	border-color: white;
}

.packOption {
	text-align: center;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin-bottom: 15px;
	color: white;
}

.packOption:hover {
	border-color: white;
}

#newCardDisplay {
	height: 500px;
	background: darkblue;
}

#tutorialMessageBox {
	display: none;
	position: absolute;
	left: 25%;
	top: 15%;
	z-index: 4;
	height: 350px;
	width: 500px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	background: #ffffffbd;
	border-radius: 15px;
	padding: 15px;
	font-size: 24px;
}

#tutorialMessageCol {
	height: 400px;
}

#tutorialButtonRow {
	position: absolute;
	bottom: 80px;
	width: 500px;
}

#tutorialMessageButton {
	margin-left: 33%;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}

.testGif {
	height: 300px;
}

.neutralSupportSlot {
	text-align: center;
	background: grey;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.fireSupportSlot {
	text-align: center;
	background: #ff000082;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.earthSupportSlot {
	text-align: center;
	background: brown;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.waterSupportSlot {
	text-align: center;
	background: blue;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.windSupportSlot {
	text-align: center;
	background: white;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.lavaSupportSlot {
	text-align: center;
	background: orange;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.mudSupportSlot {
	text-align: center;
	background: purple;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.desertSupportSlot {
	text-align: center;
	background: yellow;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.stormSupportSlot {
	text-align: center;
	background: darkgrey;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}

.schemeMeter {
	border-color: black;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	height: 180px;
}

#emptyMeter {
	height: 100%;
}

#fullMeter {
	background: blue;
	height: 0%;
	border-radius: 12px;
}

.supportName {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Metamorphous', cursive;
	border-color: black;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}

.supportText {
	font-size: 20px;
	font-family: 'Metamorphous', cursive;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

#craftingArea {
	border-width: 3px;
	border-color: black;
	border-style: solid;
	height: 506px;
	width: 401px;
	border-radius: 15px;
	margin-left: 2%;
}

.enemyEffectNum {
	font-size: 30px;
    margin-top: 4%;
    font-weight: bolder;
    padding: 0px;
}

.enemyEffectImg {
	padding: 0px;
    height: 50px;
    width: 50px;
}

.enemyEffectDisplay {
	background: #ffffff75;
    border-radius: 15px;
}

.craftCard {
	height: 500px;
	width: 395px;
	border-radius: 12px;
}

.craftingCardName {
	font-size: 34px;
	font-weight: bolder;
	font-family: 'Metamorphous', cursive;
	text-align: center;
	background: #ffffff57;
	margin: 0px;
}

.elementTarget {
	
}

#mainCraftingTitle {
	margin-left: 9%;
}

.elementOrb {
}

.eleOrbImg {
	margin: 8px;
    background: brown;
    height: 63px;
    width: 63px;
    border-radius: 30px;
    border-style: inset;
    border-width: 2px;
    border-color: #6b6a6a;
    box-shadow: 0px 0px 15px 5px white;
}

.sortOrbImg {
	margin: 8px;
    background: brown;
    height: 63px;
    width: 63px;
    border-radius: 30px;
    border-style: inset;
    border-width: 2px;
    border-color: #6b6a6a;
}

.sortOrbImg:hover {
	box-shadow: 0px 0px 15px 5px white;
}

.activeSortOrb {
	border-color: white;
	border-width: 5px;
}

#frameList {
    overflow: scroll;
    height: 475px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding-left: 2%;
}

.abilityBox {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	text-align: center;
	font-size: 24px;
	float: left;
}

#abilityTarget {
	height: 250px;
	font-size: 30px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
	padding-top: 30px;
}

.miner {
	position: absolute;
}

#miningGif {
	height: 90px;
}

#groundLayer {
	height: 124px;
}

#dirtLayer {
	margin-left: -128px;
	margin-right: -128px;
}

.dirtBlock {
	height: 100px;
	background: #693b1a;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.supportCol {
	background: #ffffff2b;
	height: 220px;
	border-color: grey;
	border-width: .2px;
	border-style: solid;
	border-radius: 35px;
	padding: 5px;
}

#supportSlot1 {
	padding: 5px;
}

#supportSlot2 {
	padding: 5px;
}

.true {
	background: white;
}

#root {
	background: #232323;
	padding: 0px;
}

#gameScreenBackground {
	background-image: url('assets/backgrounds/grassBackground.png');
	background-repeat: no-repeat;
}

#topRow {
	margin-top: 15px;
}

#tabIndex:focus {
	outline: none;
}

#stormlightOrb {
	width: 50px;
	background: white;
	text-align: center;
	border-radius: 50%; 
	font-size: 25px;
	padding: 5px;
	font-family: 'Metamorphous', cursive;
}

#influenceOrb {
	margin-left: 27%;
	width: 50px;
	background: yellow;
	text-align: center;
	border-radius: 50%; 
	font-size: 25px;
	padding: 5px;
	font-family: 'Metamorphous', cursive;
	background: radial-gradient(270deg, #ffeb00, black);
	background-size: 300% 300%;
	-webkit-animation: CardCostAnimation 8s ease infinite;
	-moz-animation: CardCostAnimation 8s ease infinite;
	animation: CardCostAnimation 8s ease infinite;
}

#influenceOrb:hover {
	background: orange;
}

#scoreDisplay {
	font-size: 28px;
	font-family: 'Metamorphous', cursive;
}

#playArea {
	height: 75px;
}

#effectsRow {
	height: 56px;
}

.effectOrb {
	margin-right: 8px;
    color: black;
	float: right;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    padding: 0px;
	animation: effectPulse 4s ease-in-out infinite alternate;
    -webkit-animation: effectPulse 4s ease-in-out infinite alternate;
}

.shieldOrb {
	background: radial-gradient(#929292, #0830c1);
}

.magicOrb {
	background: radial-gradient(#929292, #560688);
}

.rummageOrb {
	background: radial-gradient(#484848, #3a8621);
}

.decoyOrb {
	padding-left: 9px;
    overflow: hidden;
    background: radial-gradient(white, #bb7600);
}

.effectSym {
	padding: 0px;
	height: 50px;
	margin-left: 19px;
}

.effectNum {
	font-size: 20px;
    padding: 0px;
    margin-top: 10px;
}

.stormlightOn {
	box-shadow: 0px 0px 10px 15px red;
}

.spren {
	background: grey;
	border-radius: 5px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Metamorphous', cursive;
}

.sprenPower {
	color: white;
	background: navy;
	margin: 5px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 75px 75px 15px 15px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px black;
}

.createTitle {
	text-align: center;
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	color: white;
}

.createScale {
	text-align: center;
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bolder;
	font-family: 'Metamorphous', cursive;
}

.createMinus {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.createPlus {
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

#createName {
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
	margin-top: 25px;
}

input {
	text-align: center;
}

.heartIcon {
	height: 30px;
	padding-right: 0px;
	animation: heartPulse ease .8s infinite;
	width: auto;
}

.currentHealth {
	padding-left: 5px;
}

#heartStatIcon {
	margin-left: 4%;
}

.campButton {
	font-size: 30px;
	font-family: 'Metamorphous', cursive;
	width: 75%;
	margin-left: 12.5%;
	padding-top: 25px;
	padding-bottom: 25px;
	background: #b35b23;
	border-color: #a70e0e;
	border-width: 6px;
	border-style: ridge;
	border-radius: 15px;
}

.campButton:hover {
	background: grey;
}

@-webkit-keyframes heartPulse {
    0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}
@-moz-keyframes heartPulse {
     0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}
@keyframes heartPulse {
    0%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
    }
    50%{
    	height: 32px;
    	margin-left: -2px;
    	margin-top: -2px;
    }
    100%{
    	height: 30px;
    	margin-left: 0px;
    	margin-top: 0px;
   	}
}

@-webkit-keyframes effectPulse {
    0%{
    	transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
    	transform: scale(1.1);
        -webkit-transform: scale(1.1);
   	}
}
@-moz-keyframes effectPulse {
     0%{
    	transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
    	transform: scale(1.1);
        -webkit-transform: scale(1.1);
   	}
}
@keyframes effectPulse {
    0%{
    	transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
    	transform: scale(1.1);
        -webkit-transform: scale(1.1);
   	}
}

.deckTitle {
	font-size: 35px;
	text-align: center;
	font-family: 'Metamorphous', cursive;
	color: white;
}

.statIcon {
	width: 75%;
}

.mainStat {
	padding-top: 10px;
    font-size: 28px;
}

.statNum {
	padding: 0px;
	padding-top: 35%;
}

.youberImage {
	width: 120%;
	margin-left: -25%;
}

.chooseTitle {
	font-size: 35px;
	text-align: center;
	font-family: 'Metamorphous', cursive;
	color: white;
}

.hpSpan {
	font-size: 20px;
}

.intSpan {
	font-size: 32px;
	text-align: center;
}

.slashIcon {
	height: 30px;
    width: 30px;
    padding: 0px;
}

.attackNum {
	font-size: 20px;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0px;
}

#deckRow {
	border-color: #ceb927;
	border-width: 4px;
	border-style: inset;
	overflow: scroll;
    height: 600px;
    background: #ffffff38;
    border-radius: 15px;
}

#collectionCol {
	background: #ffffff38;
	border-radius: 15px;
	border-color: #ceb927;
	border-width: 4px;
	border-style: inset;
	overflow: scroll;
    height: 600px;
}

#cardBox {
	left: 20%;
    top: 28%;
    position: fixed;
    z-index: 3;
    padding: 5px;
    padding-right: 20px;
    border-radius: 10px;
}

#enemySide {
	height: 300px;
}

.enemy {
	color: white;
	background: black;
	border-style: inset;
	border-color: #7b7b7b;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 225px;
	width: 188px;
	margin: 5px;
	text-align: center;
	-webkit-transition: transform .15s ease-in, border-color .3s ease-in;
}

.enemy:hover {
	transform: scale(1.3);
	z-index: 2;
}

.enemyHoverCard {
	position: absolute;
	z-index: 3;
	top: -4%;
}

.fadeOut {
	opacity:0;
	transition: opacity 0.5s;
}

.cardObject {
	width: 192px;
}

.helpText {
	font-size: 14px;
    position: absolute;
    top: -84%;
    z-index: 2;
    background: white;
    border-radius: 15px;
    padding: 5px;
}

.oneAbility {
	top: -51%;
}

.twoAbility {
	top: -84%;
}

.noAbility {
	display: none;
}

.bigWord {
	font-size: 24px;
}

.hero {
	border-style: inset;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 225px;
	width: 188px;
	margin: 5px;
	text-align: center;
	-webkit-transition: transform .1s ease-in, border-color .2s ease-in;
}

.hero:hover {
	transform:  scale(1.3);
	z-index: 3;
}

.hero2 {
	border-style: inset;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	text-align: center;
	width: 185px;
}

.expandedCard {
	margin-top: 18px;
}

.neutral {
	background-image: url('assets/cards/neutralCard5.png');
	border-color: grey;
	background-size: cover;
}

.neutralSupport {
	background-image: url('assets/cards/neutralSupport.png');
	border-color: grey;
}

.fire {
	background-image: url('assets/cards/fireCard.png');
	border-color: red;
	background-size: cover;
}

.fireSupport {
	background-image: url('assets/cards/fireSupport.png');
	border-color: grey;
	background-size: cover;
}

.earth {
	background-image: url('assets/cards/earthCard.png');
	border-color: tan;
	background-size: cover;
}

.earthSupport {
	background-image: url('assets/cards/earthSupport.png');
	border-color: grey;
	background-size: cover;
}

.water {
	background-image: url('assets/cards/waterCard.png');
	border-color: darkblue;
	background-size: cover;
}

.waterSupport {
	background-image: url('assets/cards/waterSupport.png');
	border-color: grey;
	background-size: cover;
}

.wind {
	background-image: url('assets/cards/windCard.png');
	border-color: lightblue;
	background-size: cover;
}

.windSupport {
	background-image: url('assets/cards/windSupport.png');
	border-color: grey;
	background-size: cover;
}

.lava {
	background-image: url('assets/cards/lavaCard.png');
	border-color: orange;
	background-size: cover;
}

.lavaSupport {
	background-image: url('assets/cards/lavaSupport.png');
	border-color: orange;
	background-size: cover;
}

.storm {
	background-image: url('assets/cards/stormCard.png');
	border-color: grey;
	background-size: cover;
}

.stormSupport {
	background-image: url('assets/cards/stormSupport.png');
	border-color: grey;
	background-size: cover;
}

.desert {
	background-image: url('assets/cards/desertCard.png');
	border-color: yellow;
	background-size: cover;
}

.desertSupport {
	background-image: url('assets/cards/desertSupport.png');
	border-color: yellow;
	background-size: cover;
}

.mud {
	background-image: url('assets/cards/mudCard.png');
	border-color: #501c09;
	background-size: cover;
}

.mudSupport {
	background-image: url('assets/cards/mudSupport.png');
	border-color: #501c09;
	background-size: cover;
}

.awe {
	background: radial-gradient(white, #000000);
	border-color: white;
}

.spooky {
	background: radial-gradient(black, white);
	border-color: black;
}

.spookySupport {
	background-image: url('assets/cards/spookySupport.png');
	border-color: black;
	background-size: cover;
}

.greyScale {
	filter: grayscale(80%);
}

.sphere {
	background: radial-gradient(grey, #000000);
	border-style: inset;
	border-color: white;
	color: white;
	border-width: 6px;
	border-radius: 30px 5px;
	box-shadow: 4px 0px 2px black;
	float: left;
	height: 215px;
	width: 185px;
	margin: 3px;
	text-align: center;
	-webkit-transition: transform .1s ease-in, border-color .2s ease-in;
}

.sphere:hover {
	transform:  scale(1.3);
	z-index: 2;
}

.sphereIcon {
	height: 60px;
	border-radius: 30px;
	margin-top: 35px;
}

.diamond {
	background: white;
	box-shadow: 0px 0px 20px white;
}

.garnet {
	background: darkred;
	box-shadow: 0px 0px 20px darkred;
}

.ruby {
	background: red;
	box-shadow: 0px 0px 20px red;
}

.emerald {
	background: green;
	box-shadow: 0px 0px 20px green;
}

.rarityImg {
	height: 35px;
	margin-left: 12px;
}

.influenceCost {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: gold;
	color: black;
	font-family: 'Metamorphous', cursive;
}

.influenceGlow {
	-webkit-animation: stormPusate 1s infinite alternate;
    -moz-animation: stormPusate 1s infinite alternate;
    -animation: stormPusate 1s infinite alternate;
}

.rummageGlow {
	-webkit-animation: rummagePusate 1s infinite alternate;
    -moz-animation: rummagePusate 1s infinite alternate;
    -animation: rummagePusate 1s infinite alternate;
}

.stormlightCost {
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: silver;
	color: black;
	font-family: 'Metamorphous', cursive;
}

.iconImg {
	height: 35px;
	background: black;
	border-radius: 25px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.bottomRow {
	position: absolute;
	bottom: 2px;
	width: 100%;
}

.hoverBottomRow {
	margin-top: 10px;
}

@-webkit-keyframes CardCostAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CardCostAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CardCostAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.cardPower {
	color: white;
	background-image: url(assets/icons/power.png);
	height: 65px;
	width: 65px;
	background-size: cover;
	margin-top: 10px;
	padding: 0px;
	text-align: center;
	font-size: 30px;
}

.frameCardPower {
	background-position: 0px -7px;
}

.targetCardPower {
	background-position: 0px -7px;
	height: 80px;
	width: 80px;
	margin-top: 25px;
	padding-top: 10px;
}

.enemyCardPower {
	color: white;
	background-image: url(assets/icons/power.png);
	height: 65px;
	width: 65px;
	background-size: cover;
	margin-top: 10px;
	padding: 0px;
	text-align: center;
	font-size: 30px;
}

.cardPowerNum {
	position: absolute;
    top: 14%;
    left: 37%;
}

.cardPowerNum2 {
	position: absolute;
    top: 14%;
    left: 23%;
}

.deckCardPower {
	color: white;
	background-image: url(assets/icons/power.png);
	height: 45px;
	width: 45px;
	background-size: cover;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	font-size: 25px;
}

.deckCardName {
	padding: 0px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    background: #ffffff96;
    color: black;
}

@keyframes color {
  0% {
    background-color: #8c0000;
  }
  50% {
    background-color: #461f1f;
  }
  100% {
    background-color: #8c0000;
  }

}

.cardName {
	font-size: 17px;
	font-weight: bolder;
	text-align: center;
	color: black;
	margin: 0px 3px;
	background: #ffffff57;
	font-family: 'Metamorphous', cursive;
}

.cardText {
	font-size: 14px;
    background: #ffffff59;
    margin: 0px 3px;
    color: black;
    padding: 2px;
    border-width: 1px 0px 0px 0px;
    border-color: black;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Metamorphous', cursive;
}

.supportCardText {
	font-size: 16px;
	background: #ffffff59;
	margin: 0px 5px 0px 5px;
	color: black;
	padding: 0px 2px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.leftSideSupport {
	border-color: black;
	border-width: 0px 2px 0px 0px;
	border-style: solid;
	padding: 5px 0px 5px 0px;
}

.rightSideSupport {
	padding: 5px 0px 5px 0px;
}

.characterBox {
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.characterImage {
	padding-left: 0px;
	border-radius: 5px 0px 0px 5px;
}

.characterImage2 {
	margin-left: 4%;
}

.supportSlotImage {
	width: 100%;
}


.boss {
	height: 250px;
	width: 250px;
	margin-left: -5%;
}

.powerSpan {
	font-size: 32px;
	text-align: center;
}

.sabRow {
	margin-top: 5px;
	height: 30px;
}

.orb {
	background: #c61dfd;
	height: 30px;
	width: 10px;
	float: left;
	transform: skew(-20deg);
	border-color: black;
	border-width: 1px;
	border-style: solid;
  	margin-right: 3px;
}

.enemyCharacterBox {
	font-family: 'Metamorphous', cursive;
	margin-top: 5px;
}

.heroSelect {
	font-family: 'Metamorphous', cursive;
	border-style: ridge;
	border-color: #a70e0e;
	border-width: 10px;
	border-radius: 15px;
	background: white;
	margin: 5px;
	font-size: 20px;
	box-shadow: 5px 0px 5px black;
	-webkit-transition: transform .15s ease-in, border-color .15s ease-in;
}

/*.heroSelect:hover {
	border-color: yellow;
	transform: scale(1.1);
}*/

.heroDamageIndicator {
	color: red;
	font-size: 20px;
}

.heroDamageIndicator2 {
	color: red;
	font-size: 20px;
	padding-left: 3px;
}

.influenceOrbRow {
	margin-top: 20px;
	margin-bottom: 20px;
}

.iconCol {
	padding: 0px;
}

.shieldSpan {
	color: black;
	font-size: 32px;
	text-align: center;
}

.highlightedHero {
	border-color: green;
}

.characterName {
	font-size: 22px;
	text-align: center;
}

.enemyInfo {
	border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding-bottom: 3px;
    background: #ffffffa6;
}

.magicBag {
	height: 145px;
	margin-top: 5%;
}

#bagNum {
	position: absolute;
	z-index: 3;
	font-family: 'Metamorphous', cursive;
	font-size: 24px;
	background: #ffffffa6;
	border-radius: 10px;
	bottom: 6%;
	left: 50%;
}

#drawNum {
	margin-top: 10px;
	font-family: 'Metamorphous', cursive;
	font-size: 30px;
	background: #ffffffa6;
	border-radius: 10px;
	padding: 0px;
    text-align: center;
}

.intImg {
	width: 40%;
    padding: 0px;
}
.heroSideSlot {
}

.heroStats {
	margin-top: 5%;
	padding: 0px;
	padding-bottom: 10px;
	font-family: 'Metamorphous', cursive;
	background: #ffffffad;
	border-radius: 15px;
	margin-left: -5%;
}

.heroSelectName {
	margin-top: 5%;
}

.heroHpSpan {
	font-size: 20px;
	margin-top: 5px;
}

#stageName {
	text-align: center;
	font-size: 28px;
	font-family: 'Metamorphous', cursive;
}

#statCol {
	margin-top: 10px;
}

.itemBox {
	font-family: 'Metamorphous', cursive;
	background: white;
	border-style: ridge;
	border-color: grey;
	border-width: 10px;
	font-size: 24px;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: transform .15s ease-in, border-color .15s ease-in;
}

.itemBox:hover {
	border-color: yellow;
}

.equippedItem {
	border-color: green;
}

.equipmentTitle {
	font-size: 24px;
	font-family: 'Metamorphous', cursive;
	text-align: center;
}

.itemRow {
	margin-top: 10px;
}

.targetedEnemy {
	border-style: solid;
	border-color: red;
	border-width: 2px;
	border-radius: 25px;
	box-shadow: inset 0 0 10px red;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
}

.fullScheme {
	box-shadow: inset 0 0 10px red;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
}

.attackingEnemy {
	background: red;
	border-radius: 15px;	
}

.supportActionButton {
	font-weight: bolder;
	font-family: 'Metamorphous', cursive;
	margin-top: 10px;
}

.supportActionButton:hover {
	background: yellow;
}

.schemeReward {
	border-style: solid;
	border-color: gold;
	border-width: 3px;
}

#attackButton {
	background: #9a7200;
	margin-left: 25%;
}

#rewardsMessage {
	text-align: center;
	font-size: 36px;
	color: white;
}

#rewardsDescription {
	font-size: 28px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	font-family: 'Metamorphous', cursive;
	color: white;
}

#cardRewardRow {
	
}

#gemRewardRow {
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
}

.coolButton {
	border-radius: 5px;
	padding: 10px;
	background: orange;
	box-shadow: 2px 2px 5px grey;
}

.coolButton:hover {
	box-shadow: 0px 0px 0px grey;
}

.coolButton:focus {
	outline: none;
}

#levelButtonRow {
	margin-top: 595px;
}

.levelButton {
	font-size: 25px;
	border-radius: 5px;
	background: orange;
	box-shadow: 2px 2px 5px grey;
	text-align: center;
	font-family: 'Metamorphous', cursive;
}

.levelButton:hover {
	background: #fdc96a;
}

.stunned {
}

.confused {
}

@-webkit-keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}
@-moz-keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}
@keyframes pusate {
    from { box-shadow: inset 0 0 10px red; }
    to { box-shadow: inset 0 0 30px red; }
}

@-webkit-keyframes stormPusate {
    from { box-shadow: 0 0 0 0 0px blue; }
    to { box-shadow: 0px 0px 15px 10px blue; }
}
@-moz-keyframes stormPusate {
    from { box-shadow: 0 0 0 0 0px blue; }
    to { box-shadow: 0px 0px 15px 10px blue; }
}
@keyframes stormPusate {
    from { box-shadow: 0 0 0 0 0px blue; }
    to { box-shadow: 0px 0px 15px 10px blue; }
}

@-webkit-keyframes rummagePusate {
    from { box-shadow: inset 0 0 0 0 0px green; }
    to { box-shadow: inset 0px 0px 25px 10px green; }
}
@-moz-keyframes rummagePusate {
    from { box-shadow: inset 0 0 0 0 0px green; }
    to { box-shadow: inset 0px 0px 25px 10px green; }
}
@keyframes rummagePusate {
    from { box-shadow: inset 0 0 0 0 0px green; }
    to { box-shadow: inset 0px 0px 25px 10px green; }
}

.deadEnemy {
	border-color: black;
}